RewriteEngine On
RewriteRule ^beli/([^/]*)$ beli.php?id_produk=$1 [L]
RewriteRule ^kategori/([^/]*)$ kategori.php?id_supersubkat=$1 [QSA]
RewriteRule ^page/([^/]*)\.html page.php?id_nav=$1 [QSA]
RewriteRule ^produk/([^/]*)\.html produk.php?id_produk=$1 [QSA]

RewriteRule ^invoice/([^/]*)$ invoice.php?notransaksi=$1 [L]
RewriteRule ^katalog/halaman/([^/]*)/$ katalog.php?halaman=$1 [L]
RewriteRule ^resi/halaman/([^/]*)/$ resi.php?halaman=$1 [L]
RewriteRule ^testimoni/halaman/([^/]*)/$ testimoni.php?halaman=$1 [L]

RewriteRule ^index.html index.php [NC,L]
RewriteRule ^keranjang.html keranjang.php [NC,L]
RewriteRule ^checkout.html checkout.php [NC,L]
RewriteRule ^end_transaction.html end_transaction.php [NC,L]
RewriteRule ^katalog.html katalog.php [NC,L]
RewriteRule ^keranjang_selesai.html keranjang_selesai.php [NC,L]
RewriteRule ^konfirmasi.html konfirmasi.php [NC,L]
RewriteRule ^login.html login.php [NC,L]
RewriteRule ^logout logout.php [NC,L]
RewriteRule ^register register.php [NC,L]
RewriteRule ^resi.html resi.php [NC,L]
RewriteRule ^search search.php [NC,L]
RewriteRule ^status_pesanan.html status_pesanan.php [NC,L]
RewriteRule ^transaksi_selesai.html transaksi_selesai.php [NC,L]
RewriteRule ^testimoni.html testimoni.php [NC,L]